body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mywidth {
    min-width: 100% !important;
}

.container .slideshow {
    background-color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.container #footer #footin #action-buts #imgs {
    bottom: -245px;
    position: relative;
    height: 50%;
}

#header {
    left: 0;
    top: 0px;
}

#off-head-in {
    position: absolute;
    top: -30px;
    background: #fbff19;
    height: 30px;
    width: 100%;
}

#off-head-in .para {
    text-align: center;
    color: #000;
    margin-top: -10px;
    font-size: 14px;
    animation: blinkhead 2s infinite;
}

@keyframes blinkhead {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container #footer {
    width: 110%;
}


.book-form-a {
    font-size: 28px;
}

@media only screen and (max-width:480px) {
    .book-form-a {
        font-size: 18px;
    }
}



.membuttonhome {
    background-color: #2a9aac;
    width: 95% !important;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 30px 0 rgb(148 146 245 / 20%);
    border-radius: 5px;
    padding: 10px;
    text-align: center !important;
    font-size: 14px !important;
    margin: 20px auto;
}

.youtube-player {
    position: relative;
    max-height: 580px;
    overflow: hidden;
    width: 120%;
    left: -10%;
    background: #000;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('//i.imgur.com/TxzC70f.png') no-repeat;
    cursor: pointer;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.media-icons img {
    max-width: 100px;
    padding: 10px;
}

/* ================extra css  */
.container #header #header-in ul a li {
    font-size: 16px !important;
    transition: color 1s;
}
.container #header #header-in ul a li:hover {
    color: brown;
    font-weight: bold;
}
.logo{
    font-size: 3em;
				position: absolute;
				margin-top: 10px;
                color: crimson;
}
.logo span{
    color: green;
}
.logo:hover{
    color: green;
}
.logo:hover span{
    color: crimson;
}
.container #header #header-in ul a li{
    color: #010101;
}
#header:hover{
    background-color: #154f58fd;
    color: #000 !important;
}
#header:hover .container #header #header-in ul a li{
    color: #010101 !important;
}
.submitbutton{
    color: #f1f2f9;
    background-color: #2a9aac;
    transition: background 1s;
}
.submitbutton:hover{
    color: #2a9aac !important;
    background: #f1f2f9 !important;
    border: 1px solid #2a9aac !important;
}