body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mywidth {
    min-width: 100% !important;
}

.container .slideshow {
    background-color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.container #footer #footin #action-buts #imgs {
    bottom: -245px;
    position: relative;
    height: 50%;
}

#header {
    left: 0;
    top: 0px;
}

#off-head-in {
    position: absolute;
    top: -30px;
    background: #fbff19;
    height: 30px;
    width: 100%;
}

#off-head-in .para {
    text-align: center;
    color: #000;
    margin-top: -10px;
    font-size: 14px;
    animation: blinkhead 2s infinite;
}

@keyframes blinkhead {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container #footer {
    width: 110%;
}


.book-form-a {
    font-size: 28px;
}

@media only screen and (max-width:480px) {
    .book-form-a {
        font-size: 18px;
    }
}



.membuttonhome {
    background-color: #2a9aac;
    width: 95% !important;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 30px 0 rgb(148 146 245 / 20%);
    border-radius: 5px;
    padding: 10px;
    text-align: center !important;
    font-size: 14px !important;
    margin: 20px auto;
}

.youtube-player {
    position: relative;
    max-height: 580px;
    overflow: hidden;
    width: 120%;
    left: -10%;
    background: #000;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('//i.imgur.com/TxzC70f.png') no-repeat;
    cursor: pointer;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.media-icons img {
    max-width: 100px;
    padding: 10px;
}

/* ================extra css  */
.container #header {
    width: 100%;
    height: 100px;
    background-color: #2a9aac;
    z-index: 9999;
    position: fixed;
    top: -100px;
    box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
    transition: 1.5s;
}

.container #header #header-in ul a li {
    font-size: 16px !important;
    transition: color 1s;
}
.container #header #header-in ul a li:hover {
    color: brown;
    font-weight: bold;
}
.logo{
    font-size: 3em;
				position: absolute;
				margin-top: 10px;
                color: crimson;
}
.logo span{
    color: green;
}
.logo:hover{
    color: green;
}
.logo:hover span{
    color: crimson;
}
.container #header #header-in ul a li{
    color: #010101;
}
#header:hover{
    background-color: #154f58fd;
    color: #000 !important;
}
#header:hover .container #header #header-in ul a li{
    color: #010101 !important;
}
.submitbutton{
    color: #f1f2f9;
    background-color: #2a9aac;
    transition: background 1s;
}
.submitbutton:hover{
    color: #2a9aac !important;
    background: #f1f2f9 !important;
    border: 1px solid #2a9aac !important;
}

/* navbar  */
.container #header #header-in i {
    position: absolute;
    left: 76vw;
    top: 40%;
    font-size: 26px;
    /* display: none; */
}
.container .con-type .underlines .circle {
    width: 20px;
    height: 20px;
    background: rgb(222, 26, 30);
    border-radius: 3px;
    vertical-align: middle;
}

/* ================process of booking =============*/
.sectionpadding {
    padding: 40px 0;
}
.mycontainer {
    max-width: 1400px;
    width: 87%;
    margin: auto;
    position: relative;
    z-index: 999;
}
.heading {
    padding: 0;
    margin-bottom: 35px;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading2 {
    font: normal normal 500 30px/34px Poppins;
    letter-spacing: 0;
    color: #413d3d;
    text-transform: uppercase;
}
.heading2 span {
    color: #f12323;
}
.process-ambulance-box .stepsectionwrapper {
    width: 100%;
}
.stepsectionwrapper .stepboxwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepboxwrapper {
    position: relative;
}
.stepgrid , .stepgrids {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
    z-index: 99;
    padding-right: 7px;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.stepiconbox {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.stepiconbox .processicon {
    width: 80px
px
;
    height: 80px;
    background: #fff;
    border: 4px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.stepiconbox .processicon img {
    max-width: 45px;
}
.stepgrid:after {
    content: "\f0a9";
    position: absolute;
    top: 25%;
    left: 100%;
    transform: translate(-50%,-50%);
    font-family: FontAwesome;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #000;
    font-size: 30px;
    height: 25px;
}



@media screen and (max-width: 480px) {
    
    .callus{
        display: grid;
    }
    .container #footer #footin #action-buts #imgs {
        bottom: 32px;
        position: relative;
        height: 50%;
    }
    .stepsectionwrapper .stepboxwrapper{
        display: inline;
    }
    .stepgrid:after {
        content: "\f149";
        position: absolute;
        top: 25%;
        left: 100%;
        transform: translate(-50%,-50%);
        font-family: FontAwesome;
        line-height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #000;
        font-size: 30px;
        height: 25px;
    }
}